<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.taobao.api.DefaultTaobaoClient" name="defaultTaobaoClient">
        <constructor-arg name="serverUrl" value="${alibaba.sms.url}"/>
        <constructor-arg name="appKey" value="${alibaba.sms.appkey}"/>
        <constructor-arg name="appSecret" value="${alibaba.sms.secret}"/>
    </bean>

    <!--<bean class="org.springframework.data.redis.core.RedisTemplate" name="redisTemplate" autowire="byType"></bean>-->

</beans>